:root {
  --main-color: #007bff;
}

* {
  font-weight: normal;
}

.sectionTitle {
  text-align: center;
  color: var(--main-color);
  font-size: 40px;
  font-weight: 900;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card i {
  font-size: 30px;
  color: var(--main-color);
  padding-bottom: 10px;
}

.card h3 {
  font-size: 20px;
    color: #000;
}

.card p {
  color: grey;
}

.card a {
  color: var(--main-color);
  text-decoration: none;
  background-color: transparent;
}

.team_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.ourTeamSection h2 {
  text-align: center;
  color: var(--main-color);
  font-size: 40px;
  font-weight: 900;
}

.ourTeamSection p {
  color: grey;
}

.ourExpertise {
  display: grid;
  gap: 1rem;
  grid-template-columns: 25% 25% 50%;
  padding: 1rem;
}

.ourExpertise .card {
  display: grid;
  background-color:#ededed;
  border: none;
  box-shadow: none;
  border-radius: 0;
  word-break: break-all;
  max-height: 255px;
  margin-bottom: 3rem;
  padding: 0px;
 
}

